

@import "blue.less";

// API Document
//----------------


.docplus-api {
    .doc();

    h1, h2, h3, h4, h5, h6{
        .header();
    }

    h1 {
        .h1();
    }

    h2 {
        .h2();
    }

    h3 {
        .h3();
    }

    h4 {
        .h4();
    }

    h5, h6 {
        .h5();
    }

    a {
        .a();
    }

    hr {
        .hr();
    }

    table {
        .table();
    }

    dt {
        .dt();
    }

    dd {
        .dd();
    }

    p {
        .p();
    }

    blockquote{
        .blockquote();
    }

    ul, ol {
        .list();
    }

    ul {
      .ul();
    }

    ol {
      .ol()
    }

}

.docplus-api-aside{
    .aside();
}

.docplus-api-content{
    .content();
}

.syntaxhighligher();

.docplus-api-syntax {
    padding: 5px;
    display: inline-block;
    color: #1E347B;
}


.icon-member {
  background: url(../images/icons.gif) no-repeat left top;
  padding-left: 21px;
}

.icon-member-signle {
  padding-bottom: 3px;
}

.icon-static{
  background-position: center bottom;
  background-image: url(../images/static.gif);
}

.icon-extends {
  background-position: center bottom;
  background-image: url(../images/extends.gif);
}

.icon-namespace {
  background-position: 0 0;
}

.icon-class {
  background-position: 0 -40px;
}

.icon-interface {
  background-position: 0 -80px;
}

.icon-enum {
  background-position: 0 -120px;
}

.icon-method, .icon-function {
  background-position: 0 -160px;
}

.icon-property {
  background-position: 0 -200px;
}

.icon-field {
  background-position: 0 -240px;
}

.icon-event {
  background-position: 0 -280px;
}

.icon-config {
  background-position: 0 -320px;
}

.icon-example {
  background-position: 0 -360px;
}

.icon-module {
  background-position: 0 -400px;
}

.icon-book {
  background-position: 0 -440px;
}





.icon-namespace-private {
  background-position: 0 -500px;
}

.icon-class-private {
  background-position: 0 -540px;
}

.icon-interface-private {
  background-position: 0 -580px;
}

.icon-enum-private {
  background-position: 0 -620px;
}

.icon-method-private, .icon-function-private {
  background-position: 0 -660px;
}

.icon-property-private {
  background-position: 0 -700px;
}

.icon-field-private {
  background-position: 0 -740px;
}

.icon-event-private {
  background-position: 0 -780px;
}

.icon-config-private {
  background-position: 0 -820px;
}

.icon-example-private {
  background-position: 0 -860px;
}

.icon-module-private {
  background-position: 0 -900px;
}

.icon-book-private {
  background-position: 0 -940px;
}





.icon-namespace-protected {
  background-position: 0 -1000px;
}

.icon-class-protected {
  background-position: 0 -1040px;
}

.icon-interface-protected {
  background-position: 0 -1080px;
}

.icon-enum-protected {
  background-position: 0 -1120px;
}

.icon-method-protected, .icon-function-protected {
  background-position: 0 -1160px;
}

.icon-property-protected {
  background-position: 0 -1200px;
}

.icon-field-protected {
  background-position: 0 -1240px;
}

.icon-event-protected {
  background-position: 0 -1280px;
}

.icon-config-protected {
  background-position: 0 -1320px;
}

.icon-example-protected {
  background-position: 0 -1360px;
}

.icon-module-protected {
  background-position: 0 -1400px;
}

.icon-book-protected {
  background-position: 0 -1440px;
}






